// color variables
$textColor: #707070;
$navBlueColor: #004e83;
$selectedNav: #0a8ee8;
$light-grey-two: #d0d0ce;

$commonFilterColor: #f4f4f4;
$advanceFilterColor: #f0f0f0;
$borderBottomColor: #e4e4e4;
$fieldBorderColor: #a7a7a7;
$detailSectionColor: #f9f9f9;
$subMenuAColor: #747474;
$subMenuABackColor: #d9d9d9;
$activeSubMenu: #d539d5;
$disablePlaceholder: #e4e1e5;
$enabledPlaceholder: #bababa;
$disableButtonSpecial: #c9c9ca;
$disableBorder: #e1e1e2;
$borderDetailsButton: #959595;
$highlightColor: #578cc9;
$dropdownHeaderColor: #262626;
$phoneNumberForMobileColor: #337ab7;
$disableField: #e1e1e5;
$popupBackground: #e8e8e8;
$cancelPopupBackground: #c2c2c2;
$gridTagsBackgroundColor: #e7e7e6;
$mango: #fab62b;
$apple-green: #8dd429;
$sun-yellow: #fbd931;
$warm-pink: #fa6277;
$marine-blue: #003c71;
$bluey-purple: #6638b6;
$purpley-pink: #d539b5;
$azure: #00a3e1;
$light-grey: #f1f1f0;
$light-grey-three: #f8f8f8;

$brownish-grey: #696969;
$black: #393939;

$btn-secondary-color: #e9e9e9;
$btn-secondary-color-text: #4a5f80;

$bright-red: #ef0015;
$greyish-brown: #4a4a4a;
$white: #ffffff;
$greyish: #b3b3b3;
$dark-sky-blue: #42c0eb;
$electric-purple: #8447ff;
$purplish-pink: #d0579d;
$medium-pink: #e8669a;
$bluey-purple-97: rgba(102, 56, 182, 0.97);
$marine-blue-two: #003b70;
$marine-blue-three: #003e6b;
$bg-grey: #f2f2f2;
$dark-grey: rgba(57, 57, 57, 0.8);
$unread-note-blue: #e0f0f6;
$legal-hyperlink-blue: #00a8e4;
$mercury: #e2e2e2;
$thunder: #231f20;
$silver: #cccccc;
$dusty-grey: #989898;
$silver-light: #cdcdcd;
$flamingo: #df6945;
$fieldRadius: 3px;
$fixedDesktopWidth: 1300px;
$fixedMobileWidth: 375px;
$divider: #eeeeee;

$signIn: #2f3f4a;

$signing: #5c6971;
$border: #ddd;
$exclamation-mark: #e34843;
$error-text: #d93934;
$form-control-focus: #51cbee;
$form-control-border: #0074b3;

$anchor-focus-hover: #428bca;

$varibale-btn-radio-gray: #a1a1a1;
$varibale-btn-gray: #787878;

$varibale-btn-radio-blue: #00a3e1;

$border-bottom-color: #bebebe;

$logo-text: #484848;

$logo-variations-bg: #ececec;

$active-status: darkgreen;

$GoBack: #3b86ff;
$spacer: 0.5rem;
